.checkout-page {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.checkout-title {
 display: flex;
 justify-content: start;
 width: 75%;
 margin: 24px;
 font-size: 22px;
}

.checkout-grid {
 display: grid;
 width: 75%;
 grid-template-columns: 2fr 1fr;
 column-gap: 20px;
 margin: 12px;
}

@media (max-width: 1000px) {
 .checkout-grid {
  grid-template-columns: 1fr;
  row-gap: 20px;
 }
}