.checkout-header {
 position: fixed;
 top: 0;
 width: 75%;
 z-index: 999;
 
 display: flex;
 justify-content: space-between;
 align-items: center;
 
 background: white;
 height: var(--header-height);
}

/* LEFT SECTION */

.checkout-header .left-section {
 display: flex;
 justify-content: start;
 align-items: center;
 height: 65%;
 width: 25%
}

.index-link {
 height: 100%;
}

.title-logo {
 height: 100%;
}

/* MIDDLE SECTION */

.checkout-header .middle-section {
 font-size: 22px;
 font-weight: 500;
 white-space: nowrap;
}

/* RIGHT SECTION */

.checkout-header .right-section {
 display: flex;
 justify-content: end;
 align-items: center;
 height: 60%;
 width: 25%;
}

.money-check-icon {
 height: 100%;
}

@media (max-width: 550px) {
 .checkout-header {
  width: 90%;
 }

 .checkout-header .middle-section {
  font-size: 18px;
 }

 .checkout-header .left-section {
  height: 60%;
 }

 .checkout-header .right-section {
  height: 55%;
 }
}

@media (max-width: 450px) {
 .checkout-header .middle-section {
  font-size: 16px;
 }

 .checkout-header .left-section {
  height: 55%;
 }

 .checkout-header .right-section {
  height: 50%;
 }

}