.checkout-page {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.checkout-title {
 display: flex;
 justify-content: start;
 width: 75%;
 margin: 24px;
 font-size: 22px;
}

.checkout-grid {
 display: grid;
 width: 75%;
 grid-template-columns: 2fr 1fr;
 column-gap: 20px;
 margin: 12px;
}

@media (max-width: 1000px) {
 .checkout-grid {
  grid-template-columns: 1fr;
  row-gap: 20px;
 }
}

.order-summary {
 display: flex;
 flex-direction: column;
 width: 100%
}

.checkout-product-details {
 padding: 24px 64px 28px 28px;
 margin-bottom: 24px;
 border: 1px solid var(--light-gray);
 border-radius: 6px;
}

.delivery-date {
 color: var(--primary);
 font-weight: bold;
 font-size: 20px;
 margin-bottom: 8px;
}

.product-details-row {
 display: flex;
 justify-content: space-between;
 align-items: start;
}

@media (max-width: 1200px) {
 .checkout-product-details {
  padding: 20px;
 }
}

@media (max-width: 1000px) {
 .checkout-product-details {
  padding: 24px 34px 28px 28px;
 }

 .product-details-row {
  flex-direction: column;
 }
}

.product-details-content {
 display: flex; 
}

@media (max-width: 450px) {
 .checkout-product-details {
  padding: 20px;
 }

 .product-details-row {
  align-items: center;
 }

 .product-details-content {
  flex-direction: column;
 }
}

.product-details-left {
  display: flex;
  justify-content: center;
}

.product-details-right {
 display: flex;
 flex-direction: column;
 margin-left: 16px;
}

.product-detail {
 font-weight: bold;
 line-height: 24px;
}

.checkout-product-image {
 height: 125px;
}

@media (max-width: 450px) {
 .checkout-product-image {
  height: 200px;
 }
}

.delivery-option-title {
 margin: 0 0 8px 0;
 font-weight: 500;
}

.delivery-option {
 display: flex;
 align-items: center;
 padding-bottom: 8px;
 transition: opacity 0.15s;
 cursor: pointer;
}

@media (max-width: 450px) {
 .delivery-options {
  margin-top: 20px;
 }
}

.delivery-option:hover {
 opacity: 0.65;
}

.delivery-option-selector {
 height: 18px;
 width: 18px;
 margin-right: 12px;
 accent-color: var(--primary);
}

.delivery-option-details {
 dsiplay: flex;
 flex-direction: column;
}

.delivery-option-date {
 font-weight: bold;
}

.delivery-option-shipping-price {
 color: hsl(0, 0%, 30%);
}

/* PAYMENT SUMMARY */

@media (max-width: 1000px) {
 .payment-summary {
  order: -1;
 }
}

.payment-summary-content {
 padding: 20px 16px;
 border: 1px solid var(--light-gray);
 border-radius: 6px;
}

.payment-summary-row {
 display: flex;
 justify-content: space-between;
 align-items: end;
 margin: 8px 0;
}

.tax-border {
 border-top: 1px solid var(--light-gray);
 padding-top: 8px;
}

.order-total-row {
 color: var(--primary);
 font-weight: bold;
 border-top: 1px solid var(--light-gray);
 padding-top: 16px;
 margin-bottom: 24px;
}

.order-button {
 width: 100%;
 font-weight: 500;
 font-size: 14px;
 padding: 14px;
}

@media (max-width: 550px) {
 .checkout-title {
  margin: 20px;
 }
}

@media (max-width: 400px) {
 .checkout-title {
  margin: 16px;
 }
}